:root {
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --logo-collor: #000000;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --third-text-color: rgba(255, 255, 255, 0.6);
}

.page {
    font-family: 'roboto',  sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/* ---------------------------------------header---------------------------------- */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo {
    color: var(--logo-collor);
}

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* -----------------------------------------------hero ---------------------------*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: var(--hero-background-color);
}

.hero-btn {
    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------------------------------------преимущества------------------------------------- */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------------------------------------чем ми занимаемся---------------------------- */
/* -------------------------------------------команда------------------------------------- */
.section-team {
    background-color: var(--secondary-background-color);
}
.team-item {
    background-color: var(--primary-background-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ------------------------------------------- портфолио---------------------------- */
.filters-btn {
    font-family: inherit, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    border: none;
    cursor: pointer;
}

.filters-btn:hover, 
.filters-btn:focus {
    color: var(--secondary-text-color);
    background: var(--accent-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* -------------------------------------------------футер---------------------------------*/
.footer {
    background-color: var(--hero-background-color);
}

.footer-logo {
    color: var(--secondary-text-color)
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.footer-list .data {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}

.data:hover,
.data:focus {
    color: var(--accent-color);
}

