:root {
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --logo-collor: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------------------header---------------------------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.menu,
.menu-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  color: var(--logo-collor);
}

.site-nav {
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  /* opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-contact {
  margin-left: auto;
}

.contacts-list {
  margin-left: auto;
  display: flex;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.tel {
  margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* ---------------------------------------hero ---------------------------*/
.hero {
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-btn {
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----------------------------------преимущества------------------------- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-icon {
  height: 120px;
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item {
  min-width: 270px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------------------------------чем ми занимаемся--------------------- */
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  margin-top: 50px;
  column-gap: 30px;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.work-wrap {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* --------------------------------команда--------------------------- */
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
  column-gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/* ------------------------------клиенты ----------------*/
.clients-list {
  display: flex;
  /* margin-right: 30px; */
  margin-top: 50px;
  column-gap: 30px;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* ----------------------------- портфолио------------------------ */

.filters-btn {
  min-width: 73px;
  height: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  
}

.gallery-item {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.gallery-link {
  display: block;
  transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-wrap-desc {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: rgba(33, 150, 243, 0.9);

  display: inline-block;
  align-items: center;
  justify-content: center;

  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.gallery-item:hover .gallery-wrap-desc {
  transform: translateY(0);
}

.gallery-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gallery-desc {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
/* -------------------------------футер---------------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  position: relative;
}

.footer-logo {
  color: var(--secondary-text-color);
}

.address-list {
  margin-top: 20px;
}

.address-map {
  max-width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address-item {
  margin-bottom: 9px;
  width: 231px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-box-second {
  margin-left: 70px;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-soc-icon {
  fill: var(--secondary-text-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-box-third {
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.form-field-footer {
  position: relative;
  margin-right: 12px;

  display: flex;
  flex-direction: column;
}

.input-footer {
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--secondary-text-color);
  background-color: var(--hero-background-color);
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:focus {
  border-color: var(--accent-color);
}

.btn-footer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-send {
  margin-left: 10px;
}

/* ------------------модалка------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;

  width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);

  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  width: 100%;
  margin-top: 12px;
}

.form-field {
  margin-bottom: 10px;
  position: relative;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:nth-child(5) {
  margin-bottom: 0;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .icon-form {
  fill: var(--accent-color);
}

.form-input:focus {
  outline: 1px solid var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  display: block;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.modal-comment:focus {
  outline: 1px solid var(--accent-color);
}

.input-check {
  position: absolute;
}

.check-label span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 2px solid var(--title-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox  {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-check:checked + .check-label span {
  background-color: var(--accent-color);
  border-color: transparent;
 
}

.input-check:checked+.check-label .icon-checkbox {
  fill: var(--secondary-text-color);
}

.check-label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.check-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.btn-modal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px 52px;
}


        
        
    
       
    
 
   

    
