:root {
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --logo-collor: #000000;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --third-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

p, h1, h2, h3 {
    margin: 0; 
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/* ---------------------------------------header---------------------------------- */
.header {
    padding-top: 24px;
    padding-bottom: 25px;

    border-bottom: 1px solid #ECECEC;
}

.menu,
.menu-nav {
    display: flex;
    align-items: center;
   
}

.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo {
    color: var(--logo-collor);
}

.site-nav {
    display: flex;
    column-gap: 50px;
}

.site-nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.header-contact {
    margin-left: auto;
}

.contacts {
    display: flex;
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contacts .tel {
    margin-left: 50px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* ---------------------------------------hero ---------------------------*/
.hero {
    background-color: var(--hero-background-color);
    text-align: center;
    padding: 200px 0;
    
 }

.hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);  
}

.hero-btn {
    min-width: 200px;
    height: 50px;
    margin: 0 auto; 

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
    color: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* -----------------------------------преимущества------------------------- */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
    }

.features {
    display: flex;
    gap: 30px;
}

.features-title {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    
}

.features-item{
    min-width: 270px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* -------------------------------чем ми занимаемся--------------------- */
.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
}

.work-item {
    width: calc((100% - 60px) / 3);
}

/* --------------------------------команда--------------------------- */
.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
}

.team-item {
    width: calc((100% - 90px) / 4);
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;

}
.team-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ----------------------------- портфолио------------------------ */

.filters-btn {
    min-width: 73px;
    height: 38px;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    column-gap: 8px;
}

.filters-btn:hover, 
.filters-btn:focus {
    color: var(--secondary-text-color);
    background: var(--accent-color);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    /* gap: 30px; */
}

.gallery-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
}

.gallery-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.gallery-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.gallery-desc {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    border-top: none;

}
/* -------------------------------футер---------------------------*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-background-color);
    
}

.footer-logo {
    color: var(--secondary-text-color);
}

.address {
    max-width: 231px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}

.footer-list .data {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}    

.data:hover,
.data:focus {
    color: var(--accent-color);
}

