p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}