:root {
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --hero-background-color: #2f303a;
    --logo-collor: #000000;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --third-text-color: rgba(255, 255, 255, 0.6);
}