.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    }
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    width: 528px;
    min-height: 581px;
    background-color: var(--primary-background-color);
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
    opacity: 0;
    }
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-background-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form {
    width: 100%;
    margin-top: 12px;
}

.form-field {
    margin-bottom: 10px;
    position: relative;

    &:nth-child(4) {
    margin-bottom: 20px;
    }
    &:nth-child(5) {
    margin-bottom: 0;
    }
}

.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
    border-color: var(--accent-color);
    }
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-field:focus-within>& {
    fill: var(--accent-color);
    }
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    }
    &:focus {
    border-color: var(--accent-color);
    }
}

.input-check {
    position: absolute;
}

.check-label {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    span {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid var(--title-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .input-check:checked + & {
        background-color: var(--accent-color);
        border-color: transparent;
        }
    }
}

.icon-checkbox {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .input-check:checked+.check-label & {
    fill: var(--secondary-text-color);
    }
}

.check-link {
    color: var(--accent-color);
    text-decoration: underline;
}

.btn-modal {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 52px;
}