.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    @include desktop {
        margin-top: 50px;
    }
}

.clients__list {
    width: calc((100% - 30px) / 2);

    @include tablet {
        width: calc((100% - 60px) / 3);
    }

    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}

.clients__link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    }
}