.clients-list {
    display: flex;
    /* margin-right: 30px; */
    margin-top: 50px;
    column-gap: 30px;
}

.clients-link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    }
}