.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
  @include tablet {
      width: calc((100% - 30px) / 2);
    }
  @include desktop {
      width: calc((100% - 90px) / 4);
    }
}

.features__icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
  @include tablet {
      text-align: left;
    }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}