.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.site-nav {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

