.filters-btn {
    min-width: 73px;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--secondary-text-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    column-gap: 8px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

}

.gallery-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
}

.gallery-link {
    display: block;
    transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.gallery-wrap {
    position: relative;
    overflow: hidden;
}

.gallery-wrap-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background: rgba(33, 150, 243, 0.9);
    display: inline-block;
    align-items: center;
    justify-content: center;
    transform: translateY(101%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    
    .gallery-item:hover & {
    transform: translateY(0);
    }
}

.gallery-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.gallery-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.gallery-desc {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
    border-top: none;
}